.footer {
  background-color: $footer-bcg;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 605px;
  @media screen and(min-width:768px) {
    height: 463px;
  }
  @media screen and(min-width:1200px) {
    height: auto;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  @media screen and(min-width:1200px) {
    justify-content: flex-start;
    font-size: 26px;
  }
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  color: $logo-first;
  &_highlight {
    color: $activ-elements;
  }
}
.footer-items {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and(min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and(min-width:1200px) {
    justify-content: start;
  }
}

.footer-adress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  flex-direction: column;
}

.footer-adress_adres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $logo-first;
}

.footer-adress_contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $ftr-text-color;

  margin-top: 9px;
}

.footer-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @media screen and(min-width:1200px) {
    margin-top: 60px;
    margin-bottom: 60px;
    min-width: 206px;
    margin-left: 70px;
  }

  /*min-width: 206px;
  margin-left: 70px;*/
}

.footer-welcome_title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $logo-first;

  margin-bottom: 20px;
}
.footer-welcome_actions {
  @extend %actions;
}

.footer-welcome_actions-items {
  @extend %actions-items;
  margin-right: 10px;
  &.linkedin {
    margin-right: 0;
  }
}

.footer-welcome-subskribe {
  @media screen and(min-width:768px) {
    margin-left: 190px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 100px;
  }

  /*margin-left: 93px;*/
}

.footer-welcome-subskribe_title {
  font-style: normal;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $logo-first;

  margin-bottom: 20px;
  display: flex;
  @media screen and(min-width:1200px) {
    justify-content: start;
  }
}

.footer-welcom_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  @media screen and(min-width:1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-welcome_button {
  @extend%buttons;
  display: flex;
  margin-top: 20px;
  padding: 10px 29px;
  justify-content: space-between;
  align-items: center;

  max-width: 200px;
  min-height: 50px;

  color: $logo-first;
  background-color: $activ-elements;
  box-shadow: $button-shadow;
  border-radius: 4px;
  &:hover,
  :focus {
    background-color: $activ-button;
  }
}

.footer-welcom_mail {
  min-width: 358px;
  @media screen and(min-width:1200px) {
    margin-right: 12px;
  }
  /*margin-right: 12px;*/

  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: $logo-first;
  &:focus {
    outline: none;
  }
}
