.container {
  @extend %container;
}

.hero {
  @extend %section;
  padding: 0;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: $hero-bcg;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
      url(../images/bcg_mob_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
        url(../images/bcg_mob_2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
      url(../images/bcg_tab_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
        url(../images/bcg_tab_2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
      url(../images/bcg_desk_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $hero-overlay, $hero-overlay),
        url(../images/bcg_desk_2x.jpg);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  & .container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
}

.hero-title {
  font-weight: 900;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
  font-size: 26px;
  line-height: 1.616;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 290px;
  margin-bottom: 30px;
  word-wrap: normal;
  color: $logo-first;
}

.hero-title-button {
  @extend%buttons;
  min-width: 200px;
  min-height: 50px;
  padding: 10px;

  color: $logo-first;
  background-color: $activ-elements;
  box-shadow: $button-shadow;
  border-radius: 4px;
  &:hover,
  :focus {
    background-color: $activ-button;
  }
}
