.qualities {
  @extend %section;
}

.qualities-title {
  @extend%visually-hidden;
}

.qualities-list {
  margin-bottom: -30px;

  /* */
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.qualities-items {
  width: 100%;

  @media screen and(min-width:768px) {
    /*flex-basis: calc((100%-60px) / 2);*/
    width: 354px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 4 - 23px);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  /*flex-basis: calc(100% / 4 - 25px);
  padding: 3px;
  &:not(:last-child) {
    margin-right: 30px;
  }*/
  &::before {
    content: "";
    display: block;
    background-color: $inactiv-button;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    margin-bottom: 30px;
  }
  &:nth-child(1)::before {
    background: $inactiv-button url(../images/antenna.svg) no-repeat center;
  }
  &:nth-child(2)::before {
    background: $inactiv-button url(../images/clock.svg) no-repeat center;
  }
  &:nth-child(3)::before {
    background: $inactiv-button url(../images/diagram.svg) no-repeat center;
  }
  &:nth-child(4)::before {
    background: $inactiv-button url(../images/astronaut.svg) no-repeat center;
  }
}

.qualities-items_title {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and(min-width:768px) {
    text-align: left;
  }
}

.quality-items_description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: $paragraph;
}
