%buttons {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;

  border: none;
  cursor: pointer;
}
