ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
