.hero-modal-checkbox-conteiner {
  text-align: center;
  margin-bottom: 30px;
}

.castom-checkbox {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $paragraph;
  align-items: center;
}

.castom-checkbox_policy-txt_blue {
  text-decoration: underline;
  color: $activ-elements;
}

.castom-checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.castom-checkbox_policy-txt {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;

  border: $headsletter 2px solid;
  border-radius: 3px;

  cursor: pointer;
}

.castom-checkbox-input:checked + .castom-checkbox_policy-txt {
  border: hidden;
  background-color: $activ-elements;
  background-image: url("../images/Vector.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}
